---
import FoebeBaseLayout from '../../layouts/FoebeBaseLayout.astro';
import ZoneHero from './ZoneHero.astro';
import ZoneIntro from './ZoneIntro.astro';
import ZoneNavigation from './ZoneNavigation.astro';
import ZoneMiniTest from './ZoneMiniTest.astro';
import ZoneCascades from './ZoneCascades.astro';
import ZoneGestes from './ZoneGestes.astro';
import ZoneWarning from './ZoneWarning.astro';
import SectionBreak from './SectionBreak.astro';
import ZoneRuntime from './ZoneRuntime.astro';
const { zone } = Astro.props;
const p = zone.partials;
---
<FoebeBaseLayout zone={zone}>
  <Fragment set:html={p.progress}></Fragment>
  <Fragment set:html={p.backToTop}></Fragment>
  <Fragment set:html={p.overlay}></Fragment>
  <Fragment set:html={p.fallbackNav}></Fragment>
  <ZoneHero html={p.hero} />
  <main id="main-content" tabindex="-1">
    <div class="page">
      <ZoneIntro html={p.intro} />
      <ZoneNavigation html={p.navigation} />
      <SectionBreak />
      <Fragment set:html={p.comprendre}></Fragment>
      <SectionBreak />
      <ZoneMiniTest html={p.miniTest} />
      <SectionBreak />
      <ZoneCascades html={p.cascades} />
      <SectionBreak />
      <ZoneGestes html={p.gestes} />
      <SectionBreak />
      <ZoneWarning html={p.extras} />
    </div>
  </main>
  <ZoneRuntime zone={zone} />
</FoebeBaseLayout>
